<!-- FILEPATH: /Users/weatherby/Development/steadfast-indecency/app/views/pools/new.html.erb -->

<%= form_with(model: @pool, url: pools_path, class: "max-w-md mx-auto") do |form| %>
  <h2 class="text-4xl font-extrabold mb-4">New Pool</h2>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "form-input mt-1 block w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :description, class: "form-textarea mt-1 block w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :cutoff_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.datetime_field :cutoff_date, class: "form-input mt-1 block w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :event_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.datetime_field :event_date, class: "form-input mt-1 block w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.check_box :multiple_entries, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" %>
    <%= form.label :multiple_entries, "Multiple Entries per Person",class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Create Pool", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
