<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Pool Details</h1>
  <div class="bg-white shadow-md rounded-lg p-6 mb-4">
    <h2 class="text-lg font-bold mb-2"><%= @pool.name %></h2>
    <p class="text-gray-600 mb-2"><%= @pool.description %></p>
    <p class="text-gray-600 mb-2">Cutoff Date: <%= @pool.cutoff_date.strftime("%B %d, %Y") %></p>
    <p class="text-gray-600 mb-2">Event Date: <%= @pool.event_date.strftime("%B %d, %Y") %></p>
    <p class="text-gray-600 mb-2">Allows Multiple Entries: <%= @pool.allows_multiple_entries? ? "Yes" : "No" %></p>

    <h3 class="text-lg font-bold mt-4">Members</h3>
    <ul class="list-disc list-inside ml-4">
      <% @pool.memberships.each do |membership| %>
        <li class="text-gray-600 mb-2"><%= membership.user.email %> - <%= membership.role %></li>
      <% end %>
    </ul>
    <%= link_to "Invite New Member", new_pool_membership_path(@pool), class: "text-blue-500 underline" %>
  </div>
</div>
