<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Pool Details</h1>
  <div class="bg-white shadow-md rounded-lg p-6 mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <h2 class="text-lg font-bold mb-2">
          <%= @pool.name %>
        </h2>
        <p class="text-gray-600 mb-2">
          <%= @pool.description %>
        </p>
        <p class="text-red-600 text-xs">*All times are in Mountain Time</p>
        <p class="text-gray-600 mb-2">Cutoff Date: <%= @pool.cutoff_date_time %></p>
        <p class="text-gray-600 mb-2">Event Date: <%= @pool.event_date_time %></p>
        <p class="text-gray-600 mb-2">Allows Multiple Entries: <%= @pool.multiple_entries_text %></p>
        <%= @pool.entry_button %>
        <div>
          <% if @entries.any? %>
            <h3 class="text-lg font-bold mb-2 mt-4">Your Entries</h3>
            <ul class="w-64 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg">
              <% @entries.each_with_index do |entry, index| %>
                <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg inline-flex gap-4">
                  <%= entry.pool_show_link(index) %>
                  <% if policy(entry).destroy? %>
                    <%= entry.delete_button %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <div>
        <div class="members-list">
          <h3 class="text-lg font-bold mb-2">Members & Entries</h3>
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Email
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Role
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Entered?
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @pool.memberships.decorate.each do |membership| %>
                  <tr class="odd:bg-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-xs">
                      <%= membership.user_email%>
                    </th>
                    <td class="px-6 py-4 text-xs">
                      <%= membership.role_text %>
                    </td>
                    <td class="px-6 py-4 text-xs">
                      <%= membership.entered_text %>
                    </td>
                  </tr>
                  <% membership.user_entries.decorate.each_with_index do |entry, i| %>
                    <tr class="odd:bg-white">
                      <th scope="row" class="pl-10 pr-6 pb-4 pt-0 font-medium text-gray-900 whitespace-nowrap text-xs">
                        <% if policy(@pool).admin? %>
                          <%= entry.paid_icon %>
                        <% end %>
                        <%= entry.pool_show_link(i, enabled: false) %>
                      </th>

                        <td class="px-6 pb-4 text-xs inline-flex gap-2" colspan=2>
                          <% if policy(entry).destroy? %>
                            <%= entry.delete_button %>
                          <% end %>
                          <% if policy(@pool).admin? %>
                            <%= entry.paid_unpaid_button %>
                          <% end %>
                        </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <% if policy(@pool).admin? && @pool.editable? %>
            <%= link_to "Invite New Member", new_pool_membership_path(@pool) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <h3 class="text-lg font-bold mb-2">Props</h3>
      <% if @pool.saved_questions.any? %>
        <ol class="list-decimal list-inside ml-4">
          <% @pool.saved_questions.each do |question| %>
            <li class="text-gray-600 mb-2">
              <b><%= question.body %></b>
            </li>
          <% end %>
        </ol>
      <% else %>
        <p class="text-gray-600 mb-2">No props have been added to this pool yet.</p>
      <% end %>
    </div>
  </div>

  <% if @pool.editable? && policy(@pool).admin? %>
    <%= render "question_form" %>
  <% elsif policy(@pool).admin? %>
    <p>This pool can no longer be changed because people have entered.</p>
  <% end %>
</div>
