<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Pool Details</h1>
  <div class="bg-white border border-black p-6 mb-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="col-span-1">
        <h2 class="text-lg font-bold mb-2">
          <%= @pool.name %>
        </h2>
        <p class="text-gray-600 mb-2">
          <%= @pool.description %>
        </p>
        <p class="text-gray-900 mb-0">
          <b>Cutoff Date:</b> <%= @pool.cutoff_date_time %>
        </p>
        <p class="text-gray-900 mb-0">
          <b>Event Date:</b> <%= @pool.event_date_time %>
        </p>
        <p class="text-gray-900 mb-0">
          <b>Allows Multiple Entries:</b> <%= @pool.multiple_entries_text %>
        </p>
        <p class="text-red-600 text-xs mb-4">*All times are in Mountain Time</p>
        <%= @pool.entry_button %>
        <div>
          <% if @entries.any? %>
            <h3 class="text-lg font-bold mb-2 mt-4">Your Entries</h3>
            <ul class="w-64 md:w-auto text-sm font-medium text-gray-900 bg-white border border-gray-200">
              <% @entries.each_with_index do |entry, index| %>
                <li class="w-full px-4 py-2 border-b border-gray-200 inline-flex gap-4 items-center justify-between">
                  <%= entry.pool_show_link(index) %>
                  <% if policy(entry).destroy? %>
                    <%= entry.delete_button %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="mt-4">
          <h3 class="text-lg font-bold mb-2">Props</h3>
          <% if @pool.saved_questions.any? %>
            <ol class="list-decimal list-inside ml-4">
              <% @pool.saved_questions.each do |question| %>
                <li class="text-gray-600 mb-2">
                  <% if policy(@pool).edit_prop? %>
                    <%= link_to edit_pool_question_path(@pool, question), class: "no-underline text-yellow-400" do %>
                      <i class="fa-solid fa-pencil"></i>
                    <% end %>
                  <% end %>
                  <b><%= question.body %></b>
                </li>
              <% end %>
            </ol>
          <% else %>
            <p class="text-gray-600 mb-2">No props have been added to this pool yet.</p>
          <% end %>
        </div>
      </div>
      <div class="col-span-2">
        <div class="members-list">
          <h3 class="text-lg font-bold mb-2">Members & Entries</h3>
          <div class="relative overflow-x-auto shadow-md">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 border-collapse border border-slate-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Email
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Role
                  </th>
                  <% if policy(@pool).admin? %>
                    <th scope="col" class="px-6 py-3">
                      Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Entered?
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @pool.memberships.decorate.each do |membership| %>
                  <tr>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-xs inline-flex gap-1">
                      <% if policy(@pool).admin? && membership.is_not_user?(current_user) %>
                        <%= button_to pool_membership_path(@pool, membership), method: :delete do %>
                          <i class="fa-solid fa-x text-red-600"></i>
                        <% end %>
                      <% end %>
                      <%= membership.user_email%>
                    </th>
                    <td class="px-6 py-4 text-xs">
                      <%= membership.role_text %>
                    </td>
                    <% if policy(@pool).admin? %>
                      <td class="px-6 py-4 text-xs">
                        <%= membership.status_text %>
                      </td>
                      <td class="px-6 py-4 text-xs">
                        <%= membership.entered_text %>
                      </td>
                    <% end %>
                  </tr>
                  <% membership.user_entries.decorate.each_with_index do |entry, i| %>
                    <tr>
                      <td class="pl-10 pr-6 pb-0 pt-0 font-medium text-gray-900 whitespace-nowrap text-xs">
                        <% if policy(@pool).admin? %>
                          <%= entry.paid_icon %>
                        <% end %>
                        <%= entry.pool_show_link(i, enabled: false) %>
                      </td>

                      <td colspan="3" class="px-6 py-2 text-xs">
                        <span class="inline-flex gap-4">
                          <% if policy(@pool).admin? %>
                            <%= entry.paid_unpaid_button %>
                          <% end %>
                        </span>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% if policy(@pool).admin? && @pool.editable? %>
                <tr>
                  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-xs" colspan="4">
                    <%= link_to "Invite New Member", new_pool_membership_path(@pool) %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>

          </div>


        </div>
      </div>
    </div>
  </div>

  <% if @pool.editable? && policy(@pool).admin? %>
    <%= render partial: "shared/question_form", locals: { form_title: "Add a new prop", button_text: "Create prop", url: pool_questions_path(@pool) } %>
  <% elsif policy(@pool).admin? %>
    <p>This pool can no longer be changed because people have entered.</p>
  <% end %>
</div>
