<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Pool Details</h1>
  <div class="bg-white border border-black p-6 mb-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="col-span-1">
        <%= render "pool_deets" %>
        <%= render "pool_entries" %>
        <div class="mt-4">
          <h3 class="text-lg font-bold mb-2">Props</h3>
          <% if @pool.saved_questions.any? %>
            <ol class="list-decimal list-inside ml-4">
              <% @pool.saved_questions.each do |question| %>
                <li class="text-gray-600 mb-2">
                  <% if policy(@pool).edit_prop? %>
                    <%= link_to edit_pool_question_path(@pool, question), class: "no-underline text-yellow-400" do %>
                      <i class="fa-solid fa-pencil"></i>
                    <% end %>
                  <% end %>
                  <b><%= question.body %></b>
                </li>
              <% end %>
            </ol>
          <% else %>
            <p class="text-gray-600 mb-2">No props have been added to this pool yet.</p>
          <% end %>
        </div>
      </div>
      <div class="col-span-2">
        <%= render "scoreboard" %>
        <div class="flex space-x-2">
          <%= link_to "Admin Panel", admin_pool_path(@pool), class: "font-medium text-xs bg-blue-700 hover:bg-blue-600 text-white py-2 px-4 no-underline" %>
          <%= link_to "Scoreboard", scoreboard_pool_path(@pool), class: "font-medium text-xs bg-blue-700 hover:bg-blue-600 text-white py-2 px-4 no-underline" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "pool_prop_form" %>
</div>
