<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Pool Details</h1>
  <div class="bg-white shadow-md rounded-lg p-6 mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <h2 class="text-lg font-bold mb-2"><%= @pool.name %></h2>
        <p class="text-gray-600 mb-2"><%= @pool.description %></p>
        <p class="text-gray-600 mb-2">All times are in Mountain Time</p>
        <p class="text-gray-600 mb-2">Cutoff Date: <%= @pool.cutoff_date.in_time_zone("America/Denver").strftime("%B %d, %Y - %l:%M %p") %></p>
        <p class="text-gray-600 mb-2">Event Date: <%= @pool.event_date.in_time_zone("America/Denver").strftime("%B %d, %Y - %l:%M %p") %></p>
        <p class="text-gray-600 mb-2">Allows Multiple Entries: <%= @pool.allows_multiple_entries? ? "Yes" : "No" %></p>
        <% if @pool.entry_eligible?(current_user) &&  %>
          <%= button_to "Create Entry", pool_entries_path(@pool), class: "text-white font-medium bg-indigo-600 px-4 py-2 rounded-md" %>
        <% else %>
          <%= button_to "Create Entry", pool_entries_path(@pool), disabled: true, class: "text-white font-medium disabled:bg-indigo-100 px-4 py-2 rounded-md" %>
        <% end %>
        <div>
          <h3 class="text-lg font-bold mb-2">User Entries</h3>
          <ul class="list-disc list-inside ml-4">
            <% @pool.entries.where(user: current_user).each_with_index do |entry, index| %>
              <li class="text-gray-600 mb-2"><%= link_to "Entry ##{index}", pool_entry_path(@pool, entry) %></li>
            <% end %>
          </ul>
        </div>

      </div>

      <div>
        <h3 class="text-lg font-bold mb-2">Members</h3>
        <ul class="list-disc list-inside ml-4">
          <% @pool.memberships.each do |membership| %>
            <li class="text-gray-600 mb-2"><%= membership.user.email %> - <%= membership.role %></li>
          <% end %>
        </ul>
        <% if policy(@pool).admin? && @pool.editable? %>
          <%= link_to "Invite New Member", new_pool_membership_path(@pool) %>
        <% end %>
      </div>
    </div>
    <div class="mt-4">
      <h3 class="text-lg font-bold mb-2">Props</h3>
      <% if @pool.saved_questions.any? %>
        <ol class="list-decimal list-inside ml-4">
          <% @pool.saved_questions.each do |question| %>
            <li class="text-gray-600 mb-2">
              <b><%= question.body %></b>
            </li>
          <% end %>
        </ol>
      <% else %>
        <p class="text-gray-600 mb-2">No props have been added to this pool yet.</p>
      <% end %>
    </div>
  </div>

  <% if @pool.editable? && policy(@pool).admin? %>
    <%= render "question_form" %>
  <% elsif policy(@pool).admin? %>
    <p>This pool can no longer be changed because people have entered.</p>
  <% end %>
</div>
