<div class="mt-4">
  <%= form_with model: @membership, url: pool_memberships_path(@pool), html: { class: "max-w-sm mx-auto" } do |form| %>
    <h2 class="text-4xl font-extrabold mb-4">Invite Someone</h2>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", required: true %>
    </div>
    <div class="mb-4">
      <%= form.label :role, class: "block mb-2 text-sm font-medium text-gray-900"%>
      <%= form.select :role, options_for_select(['member', 'admin']), {}, {class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"} %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit 'Send Invite', class: "text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
    </div>
  <% end %>
</div>