<div class="mt-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "max-w-sm mx-auto", method: :put }) do |f| %>
    <h2 class="text-4xl font-extrabold mb-4">Change your password</h2>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-5">
      <%= f.label :password, "New password", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password, autofocus: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>

    <div class="mb-5">
      <%= f.label :password_confirmation, "Confirm new password", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", autocomplete: "new-password" %>
    </div>

    <%= f.submit "Change my password", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>