<div class="bg-white border border-black p-6 mb-4">
  <%= form_with(model: @question, url: url) do |form| %>
    <h2 class="text-4xl font-extrabold mb-4"><%= form_title %></h2>
    <div class="mb-4">
      <%= form.label :body, "Question", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :body, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :tie_break, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.check_box :tie_break, class: "mr-2 leading-tight" %>
      <%= form.label :tie_break, "Tie Break", class: "text-gray-700 text-sm font-bold" %>
    </div>

    <div class="mb-4">
      <%= form.fields_for :options do |option_form| %>
        <div class="mb-2">
          <%= option_form.label :body, "Option #{option_form.options[:child_index] + 1}", class: "block text-gray-700 text-sm font-bold mb-1" %>
          <%= option_form.text_field :body, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit button_text, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>