<%= render partial: "shared/breadcrumbs" %>

<h1 class="text-2xl font-bold mb-4">Your Entry</h1>

<%= form_with model: @entry, url: pool_entry_path(@pool), method: :put do |f| %>
  <% @entry.choices.includes(question: :options).in_question_order.each do |choice| %>
    <b class="text-xl"><%= choice.question_body %></b>
    <%= f.fields_for :choices, choice do |ff| %>
      <% choice.question_options.each do |option| %>
        <div class="flex items-center mb-2">
          <%= ff.radio_button :option_id, option.id, class: "form-radio text-blue-600 h-4 w-4" %>
          <%= ff.label :option_id, option.body, class: "ml-2 text-sm text-gray-700" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= f.submit class: "bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>